[Unit]
Description=Exit Hotkey daemon service

StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
EnvironmentFile=/home/ark/.config/KILLIT
ExecStart=/usr/local/bin/killer_daemon.py ${VAR}

[Install]
WantedBy=multi-user.target


