[Unit]
Description=Enable Bluetooth Module

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/enable_bluetooth.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
