[Unit]
Description=HoffmanOS Bluetooth Watch Daemon
After=firstboot.service

[Service]
Type=simple
User=ark
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/watchforbtaudio.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
